default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  password: <%= ENV['DB_PASSWORD'] %>
  username: root
  host: localhost

development:
  <<: *default
  database: Monchrogram_development

test:
  <<: *default
  database: Monochrogram_test

production:
  <<: *default
  database: <%= ENV['DB_NAME'] %>
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host: <%= ENV['DB_HOSTNAME'] %>
