.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}

.logo-img {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  height: 80px;
  max-width: auto;
  background-size: 400px!important;
}

.logo-explanation {
  font-size: 15px;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
  background-color: #262626 !important;
  color: #fff !important;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  padding: 180px 0 100px 0;
  background-image: image-url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
}
